  @font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Light.otf');
  }

  @font-face {
    font-family: Book;
    src: url('../fonts/Gotham-Book.otf');
  }


  @font-face {
    font-family: Bold;
    src: url('../fonts/Gotham-Bold.otf');
  }

a{
    cursor: pointer;
}

  :root {
    --black: #333;
    --green: rgb(0, 146, 46);
    --lightgreen: rgb(151, 191, 13);
    --gray:rgb(217, 218, 219);
    --grayf:rgb(123,124 , 126);
    --pink:rgb(226,0 , 122);
    --purple:rgb(98,33,129);
    --blue:rgb(0,118,189);
  }

  label.required:after {
    content: "*";
    margin-right: 2px;
    color: red;
    font-weight: bold;
    font-size: 14px;
  }

.white{
  color: #fff;
}


  body {
    font-family: "Gotham","Open Sans", Arial, sans-serif;
  }

  .lightgreen{
    color: var(--lightgreen)
  }

  .header_area .navbar .nav .nav-item .nav-link {
    font: 400 14px "Gotham", sans-serif;
  }

  .book {
    font-family: "Book","Open Sans", Arial, sans-serif;
  }

  .bold {
    font-family: "Bold","Book", Arial, sans-serif;
  }


  .gray{
    color: var(--gray)
  }

  .grayf{
    color: var(--grayf)
  }

  .green{
    color: var(--green)
  }

  .black{
    color: var(--black)
  }

  .light-gray{
    color: var(--grayf)
  }

  .sidebar_title {
    font-size: 14px;
  }


  .sidebar_categories li a {
    color: rgba(0,0,0,0.8);
  }

  .shop {
    padding-top: 40px;
  }
  .product_item {
   padding-top: 0px;
 }


 .shadow {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pmd-card {
  margin-right: 10px;
  margin-left: 10px;
}

.product_fav {

  top: 15px;
  right: 40px;

}

.sidebar_categories {
  margin-top: 20px;
}


.tparrows {
  border-radius: 50%;
}

.tparrows:hover {
  background: var(--green);
}
.shop_page_nav {
  margin-top: 40px;
}

.footer{
  padding-bottom: 15px;
  background-color: var(--gray)
}
.pull-right {
  float: right;
}

.hidden{
  display: none
}


@media (max-width:991px){

  .navbar-brand{
    display: block;
  }

  .top-brand{
    display: none
  }



}
.center-nav-bar{
  display: inline-flex;
}

/*
@media (max-width: 992px){}
.center-nav-bar{
    display: unset;
}
}
*/

.header_area .navbar .nav .nav-item {
  margin-right: 55px;
}

.none-text{
  text-decoration: none
}
.mayus{
  text-transform: uppercase;
}

.footer_title{
  color: var(--grayf);
  border-bottom: 1px solid var(--grayf);
}


.centered {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  left: 0 !important;
  width: 100% !important;
  padding: 0 60px !important;
}


.img-footer{
  margin-left: -5px;
}

.product_grid {
  margin-left: 5px;
  margin-right: 5px;
}


.home-padding{
  padding-left: 5%;
  padding-right: 5%;
}
/*
    ul{
      list-style: none;
      }*/


      .pmd-card-title {

        padding-top: 0.5rem;
        padding-right: 1rem;
        padding-bottom: 0px;
        padding-left: 1rem;
        margin-bottom: 0rem;
      }

      .pmd-card-subtitle-text {
        margin-bottom: 5px;
      }



      .navbar-toggler span {
        background: var(--pink);
      }


      .header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
        color: var(--pink);
      }

      .footer_list li a:hover {
       color: var(--pink);
     }


     a:hover, a:focus {
       color: var(--pink);
     }

     .btn-secondary{
      background-color: var(--pink);
      color: var(--pink);
      border-color: var(--light-gray);
      border-radius: 15px;
      width: 100%;
      text-align: center;
 border-radius: 15px !important;
     width: 100%;
     text-align: center;
}



    .floating-footer-button{
      width: 190px;
      margin-top: -20px;
      margin-right: 0px;
      margin-left: 0px;
      position: absolute;

      left: 50% !important;
      transform: translateX(-50%) !important;

    }

    .btn-secondary:hover {
      background-color: var(--purple);
      border-color: var(--purple);
    }


    .sidebar_categories li a:hover {
     color: var(--pink);
     font-family: "Bold","Book", Arial, sans-serif;
   }
/*
.product-img{

width: 350px;
}*/


.top_menu .float-left {
  padding: 4px 0;
}


.header-icon{
  margin-top: -4px;
  width: 25px;
}


.grid-item { width: 25%; }

.search{
  height: 30px;
  border-radius: 30px;
  font-style: normal;
  font-weight: 100;
        height: 30px;
  border-radius: 30px !important;
      font-style: normal;
    font-weight: 100;
}



.top_menu .right_side li a {
  text-transform: capitalize;
  padding: 0px 5px;
}


.footer_title {
  font-size: 16px;
}


.top_menu .right_side li:hover a {
  color: var(--pink);
}

.border-bottom-custom{
  border-bottom: 1px solid var(--grayf);

}

.top-image {
  width: 80px;
  height: 80px;
}

.top-sub{
  line-height: 1rem;
}


.footer_list li
{
  margin-bottom: 15px;
}


.top_menu {
  height: 0px;

  background: #fff;
}

.sidebar_categories li {
  margin-bottom: 15px;
}




.store_title{
  font-size: 20px;
  border-bottom: 1px solid var(--grayf);
}


.product-image-content{
  height: 100%;
}


.img-product{

}

.product_item img{
  border-radius: 2px;
    height: 200px;
    width: 200px;

}


.accordion .card-header:after {
  font-family: 'themify';
  content: "\e648";
  float: right;
}
.accordion .card-header.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e649";
}

.card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--grayf);
}

.no-borders{
  border:none;
}
/*
.pmd-radio > span.pmd-radio-label:before {
      top: -2px;
    width: 25px;
    height: 25px;
    }
.pmd-radio > span.pmd-radio-label:after {
      margin-top: -8px;
    top: 15px;
    left: 8px;
  }

  */



  .card-body {
    padding: 0
  }

  .pointer{
    cursor: pointer;
  }

/*
  input::placeholder {
font-size: 10px;
}
*/

.float-label {
  font-size: 10px;
  cursor: initial;
  position: absolute;
  left: 14px;
  top: 3px;
}
.search-icon{
  margin-left: 2px;
  font-size: 10px;
  top: 1px;
  position: relative;
}


.barra{
top: 0px;
right: -15px;
  font-size: 18px;
  position: absolute;
  margin-left: 5px;
}

.placeholder{
  cursor: text;
  font-size: 10px;
  top: 3px;
  position: absolute;
  left: 15px;
}









/**cart shopping hover*/

.lighter-text {
  color: #ABB0BE;
}

.main-color-text {
  color: #6394F8;
}




.shopping-cart {
  right: -20px;
  display: none;
  margin: 32px 0;
  float: right;
  background: white;
  width: 320px;
  position: absolute;
  border-radius: 3px;
  padding: 5px;
  z-index: 99999;
  -webkit-box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
  -moz-box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
  box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
}
.shopping-cart .shopping-cart-header {

  /*border-top: 1px solid var(--grayf);*/
  /*padding-bottom: 15px;*/
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
 text-align: end;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
}
.shopping-cart .shopping-cart-items img {
  float: left;
  /* margin-right: 12px;*/
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  padding-top: 10px;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #6394F8;
  margin-right: 8px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
  -webkit-box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
  -moz-box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
  box-shadow: 10px 10px 30px -16px rgba(27,34,27,1);
}

.cart-icon {
  color: #515783;
  margin-right: 7px;
  float: left;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;

}


.text-body {
  font-size: 14px;
}

.counter{
  font-weight: 900;
  color: var(--grayf);
  font-size: 11px;
  margin-left: 3px;
}

.shopping-cart .shopping-cart-items img {
  width: 120px;

}


.button-cart-container{
  text-align: end;
  margin-top: 10px;
}

.checkout-button{
  border-radius: 0px;
  font-size: 12px;

  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
      width: 120px;
}


.btn-primary{
  background-color: var(--blue)

}


.table-bordered td, .table-bordered th {
 border: 0px solid #dee2e6;
}


.table-responsive {
  overflow-x: overlay;
}


.big-title {
  font-size: 18px;
}


.borders{
  border-bottom: 1px solid var(--gray);

}

.table-striped tbody tr:nth-of-type(odd){
  background-color: white;

}

.table td, .table th{
  vertical-align: middle;

}


.cart-icon-new{
  width: 50px;
}

.transparent{
  color: transparent;
}

.body-text{
  font-size: 14px;
}

.table td, .table th {
  padding: .25rem;
}

.table-responsive{
  border-bottom: 1px solid var(--gray);

}


.center{
  width: 150px;
  margin: 40px auto;

}



.input-number{
  height: 25px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
}


.btn{
  border-radius: 0px;
}

.border-bottom{
  border-bottom: 1px solid var(--grayf) !important;

}


.form-control {
  border-radius: 0px;
}

.title-text{
  font-size: 16px
}


.btn {
  border-radius: 0px;
}

.centered-li{
 display: flex;
 flex-direction: row;
 align-items: center;
}

.pmd-checkbox{
  cursor: pointer;
}





.category-text {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
      color: rgba(0,0,0,0.8);
}










/*
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}

.card .card-content {
  padding-top: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}*/
.button-rounded{
  border-radius: 30px;
}





.qty-box{
  display: inherit;
  border: 1px solid var(--grayf);
}
.qty {
border: none;
    width: 30px;
    height: 20px;
    text-align: center;
}
input.qtyplus {
    width: 15px;
    height: 25px;
    background: transparent;
    border: none;
    z-index: 2;
    cursor:pointer;
}
input.qtyminus {
    width: 15px;
    height: 25px;
    background: transparent;
    border: none;
    z-index: 2;
    cursor:pointer;
}

input.qtyminus:focus{
outline: none;
}


input.qtyplus:focus{
outline: none;
}
=======
#product-imgs .product-preview img{
    width: 120px !important;
}


.no-transform{
        transform: none;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .8;
}

#product-imgs .product-preview.slick-current{
        border-color: var(--blue);
}


.fs-16{
     font-size: 16px !important;
}


@media only screen and (max-width: 991px){
.footer_col:not(:last-child) {
    margin-bottom: 45px;
}

}

.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}


#product-imgs .product-preview img{
    width: 120px !important;
}


.no-transform{
        transform: none;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: .8;
}

#product-imgs .product-preview.slick-current{
        border-color: var(--blue);
}


.fs-16{
     font-size: 16px !important;
}




.slick-prev {
    left: -10px;
}
.slick-next {
    right: -10px;
}

.product-preview{
    cursor: pointer;
}

p{
  color:#333
}

.gray-border-bottom{
  border-bottom: 1px solid var(--gray);

}


.top-logo{

}

.search-bar{
 margin-top: 30px;
 }

.logo-bar{
  width: 180px;
}
@media (max-width: 992px) {
.search-bar{
  margin-top: 25px
 }

 .logo-bar{
  width: 160px;
}


}


@media (max-width: 576px) {
.search-bar{
  margin-top: 0px
 }


 .logo-bar{
  width: 140px;
}


}


.page_nav li a {
    width: 100%
    }

.active {
    background-color: #e5e5e5;
    color: #808080;
}



.page_nav{
    border: none
}


.page_nav li {
        border-right: 0px;
    border-bottom: solid 1px #e5e5e5;
    border-top: solid 1px #e5e5e5;
}


.page_prev, .page_next {
border-radius: 0px
}


.no-decoration{
   color : rgba(0, 0, 0, 0.54)
}


.pmd-range-slider .noUi-tooltip {
    background: var(--blue)
}

.pmd-range-slider.noUi-horizontal .noUi-handle-upper .noUi-tooltip:before, .pmd-range-slider.noUi-horizontal .noUi-handle-lower .noUi-tooltip:before {
    background: var(--blue)
}


.pmd-range-slider.noUi-target {
    margin: 40px 12px 6px;
}

.lg-backdrop.in {
    opacity: 0.8 !important;
}


.product-preview:focus{
    outline:none;
}


.top-text{
    font-size: 12px;
}


.breadcrumb {
  padding: 0;
      font-size: 20px;
      text-transform: uppercase;
  background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "-";
}
.breadcrumb-item.active {
    color: #333;
    font-weight: 600;
    background-color: transparent;
}
.top_menu .right_side li a {
  /*font-size: 11px;*/
  width: 100%;
  border-right: none
}

select {
    display: inline;
    border: 0;
    width: 100%;
    /* margin-left: 10px; */
    /* outline: none; */
    /* -webkit-appearance: none; */
    -moz-appearance: none;
    border: 1px solid #808080;
    color: #808080;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    height: 35px;
}



.btn-transparent{
    cursor: pointer;
  background-color: transparent;
    border: none
}
.cart-icon-trash{
  cursor: pointer;
  width: 30px;
    right: 0;
    position: absolute;
}

.trash-form{
  position: relative;
    bottom: 20px;
}

.custom-close{
    position: absolute;
    right: 10px;
    z-index: 99999;
}


.form-control {
    color: #333;
}
